.skin-vypusknoy .skin-page-header {
    display:none;
}

.skin-vypusknoy .skin-subheader-top {
    margin-bottom:0;
    border-radius:0;
}

.skin-vypusknoy .centerline {
    border-bottom-width: 2px;
    border-bottom-color: #001E64;
}

.skin-vypusknoy .centerline > .centerline-header {
    color: #001E64;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.skin-vypusknoy .lead-hash-tags a {
    color: #001E64;
    font-family: "Montserrat", sans-serif;
}

.skin-vypusknoy .news-entry h3 {
    color: #001E64;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.skin-vypusknoy .news-entry h3 a {
    color: #001E64;
}

.skin-vypusknoy .vypusk-footer {
    min-height:322px;
    background: linear-gradient(5deg, #001F65, #001F65 75%, #FFFFFF 76%, #FFFFFF);
}

.skin-vypusknoy .vypusk-minobr-img {
    max-height:100px;
    margin-top:100px;
}

.skin-vypusknoy #dnn_BottomPane .cnt {
    margin-bottom:0;
}

.skin-vypusknoy .vypusk-partner-img {
    height:100px;
}

.skin-vypusknoy .vypusk-footer .list-inline-item:not(:last-child) {
    margin-right:1.5rem;
}

.skin-vypusknoy .skin-page-info {
    border-radius:0;
}
